.popup{
    width: 100%;
    position:fixed;
    top:0;
    justify-content: center;
    background-color: rgba(0, 0, 0, .9);
    display:flex;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.popup:hover{
    cursor:pointer;
}

