.profile__add-btn{
    padding:0;
    margin-left: auto;
    width:150px;
    height:50px;
    color:#fff;
    font-size:40px;
    border-radius: 4px;
    background-color:#000;
    border:2px solid #fff;
    box-sizing: border-box;
    transition: .35s;
}

.profile__add-btn:hover{
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:586px) {
    .profile__add-btn{
        width: 282px;
        margin:34px 0 0;
        left: 0;
        font-size:30px;
    }
}