.header__logo{
    max-height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 586px){
    .header__logo{
        padding-left: 27px;
        height: 24.4px;
        margin-bottom: 31.6px;
    }
}