.popup__container-change-avatar{
    position: absolute;
    top:195px;
    left:calc(50% - (430px/2));
    width: 430px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
    padding-top:34px;
    box-sizing: border-box;
}

.popup__container-change-avatar:hover{
    cursor:default;
}

@media screen and (max-width: 586px) {
    .popup__container-change-avatar{
        left:calc(50% - (282px/2));
        top:123px;
        width:282px;
        height: 322px;
        padding-top:15px;
    }
}