.popup__container{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:195px;
    left:calc(50% - (430px/2));
}

@media screen and (max-width: 586px) {
    .popup__container{
        left:calc(50% - (282px/2));
        top:123px;
    }
}