.popup__container{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top:186px;
    left:38.7%;
}

@media screen and (max-width: 586px) {
    .popup__container{
        left:19px;
        top:87px;
    }
}