.profile__add-btn{
    justify-self: flex-end;
    margin-left: auto;
    width:150px;
    height:50px;
    padding:0;
    color:#fff;
    font-size:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    outline-color: #fff;
    outline: 2px solid #fff;
    outline-offset: -4px;
    border-radius: 4px;
    position:relative;
    left: 2px;
    background-color:#000;
    border: none;
}

.profile__add-btn:active{
    opacity: .6;
}

@media screen and (max-width:586px) {
    .profile__add-btn{
        width:100%;
        margin:34px 0 0;
        left: 0;
        font-size:30px;
    }
}