.main{
    width:880px;
    padding: 40px 0 66px 0;
    display: grid;
    grid-row-gap:50px;
    z-index: 0;
}

@media screen and (max-width:1024px){
    .main{
        width: calc(100% - (1024px - 880px));
    }
}

@media screen and (max-width:586px){
    .main{
        width: calc(100% - 19px*2);
        padding: 42px 0 48px 0;
        grid-row-gap:36px;
    }
}