.form__save-btn_invalid{
    background-color: unset;
    border: 1px solid #000;
    color: #000;
    opacity: 20%;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    transition: .35s;
    cursor: default;
}