.profile__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin:0;
    grid-column: 1/2;
    align-self:baseline;
}

@media screen and (max-width:586px){
    .profile__title{
        font-size: 27px;
        line-height: 33px;
    }
}