.elements{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:20px;
    grid-row-gap:20px;
    margin:0 auto;
}

@media screen and (max-width:984px) {
    .elements{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:680px) {
    .elements{
        grid-template-columns: 1fr;
    }
}