.element{
    width:282px;
    background-color: #fff;
    display:grid;
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    position:relative;
}