.popup__close{
    width: 32px;
    height: 32px;
    position: relative;
    top:-40px;
    left:438px;
    z-index: 2;

    /* background-color: #000; */
    background: transparent;
    background-image: url("../../../images/Close_Icon.svg");
    background-position: center;
    background-size: contain;
    border: 0;
}

.popup__close:active{
    
}