.popup__close{
    width: 32px;
    height: 32px;
    position:relative;
    top:calc(-32px - 8px);
    left: 8px;
    z-index: 2;
    background: transparent;
    background-image: url("../../../images/Close_Icon.svg");
    background-position: center;
    background-size: contain;
    border: 0;
}

.popup__close:active{
    opacity: .6;
}

@media screen and (max-width: 586px ) {
    .popup__close {
        width: 20px;
        height: 20px;
        top:calc(-20px - 16px);
        left:-20px
     }
 }