.profile__edit-btn{
    /* margin:auto; */
    width: 24px;
    height: 24px;
    padding:7px;

    background-color:#000;
    border-color:#fff;
    border-width: 1px;
    background-image:url("../../../images/pen.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position:center;

    align-self:center;
}

@media screen and (max-width:586px){
    .profile__edit-btn{
        width: 18px;
        height: 18px;

        background-size: 7.5px;
    }
}