.form__user-name{
    height: 27px;
    width:calc(100% - 36px*2);
    margin-top: 42px;
    border:none;
    border-bottom: 1px solid #000;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 586px ) {
    .form__user-name {
        margin-top: 63px;
     }
 }