.form__close{
    width: 32px;
    height: 32px;
    position: absolute;
    top:-40px;
    left:438px;
    z-index: 2;
    background: transparent;
    background-image: url("../../../images/Close_Icon.svg");
    background-position: center;
    background-size: contain;
    border: 0;
}

.form__close:active{
    opacity: .6;
}

@media screen and (max-width: 586px ) {
    .form__close {
        width: 20px;
        height: 20px;
        top:calc(-20px - 16px);
        left:calc(282px - 20px);
     }
 }