.form__close{
    width: 32px;
    height: 32px;
    position: absolute;
    top:-40px;
    left:438px;
    z-index: 2;
    background: transparent;
    background-image: url("../../../images/Close_Icon.svg");
    background-position: center;
    background-size: contain;
    border: 0;
}

.form__close:active{
    opacity: .6;
}