.profile__info{
    display:grid;
    grid-template-columns: auto 24px;
    /* grid-template-columns: repeat(auto-fit, minmax(24px, 1fr)); */
    grid-template-rows: repeat(auto-fit,  minmax(24px, 1fr));
    grid-column-gap:18px;
    /* align-items: baseline; */
   
    grid-row-gap:16px;
}