.form__input{
    height: 27px;
    margin-top: 43px;
    border:none;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    position:relative;

    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 586px ) {
    .form__input {
        margin-top: 70px;
     }
 }